
* {
 Margin:0;
 padding:0;
} /* margen defecto entre pagina y ventana todos elm sin marg -> obliga*/

/*Unidades de medida: px(pixeles), em (relativo al tamano de letra padre), rem (relativo al tamano de letra raiz), %, vh (alto ventana), vw (ancho ventana)*/

:root {
   --main-color: rgb(174, 98, 161);
   --secondary-color: rgb(157, 146, 146);
}

/* uso de position en header fijo al scrollear */
/*posiciones: static(defecto), relative(relativo a su posicion original), absolute(relativo a su contenedor padre mas cercano con pos relativa), fixed(relativo a la ventana del navegador), sticky(relativo a la ventana del navegador hasta cierto punto)*/

   header{
         position: sticky;/* fija el header al scrollear respecto al navegador*/
         top: 0; /*pega al tope de la ventana*/
         border: 4px solid grey; 
         padding: 20px 0; 
         background-color: var(--main-color);
         width: 100%;
         height: 100px;
         display: flex;
         justify-content:space-around; 
         align-items: center;

   }

   header a{
      margin: 0px 10px ;
   }

   body{
      background-color:rgb(157, 146, 146) ; 
      display: flex;
      justify-content: center; /*centra todo el contenido de la pagina*/
      align-items: center; /*centra todo el contenido de la pagina*/
      flex-direction: column; /*ordena todo el contenido de la pagina en columna*/
      min-height: 100vh; /*alto minimo de la ventana */;
   }

   /*transform y transcicion en footer*/
   footer{
      height: 50px;
      width: 70%;
      background-color: rgb(174, 98, 161);
      border: 4px solid grey;
      transform: scale(1 , 1) screw(10deg , 10deg); 
      /*escala: x,y , 1 normal, >1 agranda, <1 reduce*/
      /*screw: x,y , angulo de giro en grados +horario -ant*/

      transition: width 0.5s ease-in-out; /*transicion suave*/
   }


   /*pseudo clase :hover -> cuando el mouse esta encima del elemento , mal uso cuando cambio muy brusco -> add transicion en clase original*/
   footer:hover{        
      width: 100%;
      background-color: rgb(232, 238, 197);
   }   

   .transcicion{
       transition: all 0.8s ease-in-out; /*transicion suave*/
      /*all: todas las propiedades, 0.5s: duracion, ease-in-out: tipo de transicion*/
   }

   /*cambios al pasar el mouse por encima*/
   .transcicion:hover{
      color: rgb(36, 30, 103);
      font-size: 15px;
   }

   /* animaciones */
   .animacion{
      width: 100px;
      height: 100px;
      background-color: rgb(72, 210, 127);
      animation: mover 1.8s infinite alternate; /*nombre duracion, infinito, alterna direccion*/
   }
   @keyframes mover{
      0% {
         transform: translatey(0);
         background-color: rgb(65, 164, 94);
      }
      50% {
         transform: translatey(60px);
         background-color: rgb(74, 97, 28);
      }
      100% {
         transform: translatey(0);
         background-color: rgb(15, 47, 29);
      }

   }


   div{
         background-color: rgb(25, 180, 232);
         height: 100px;
         width: 100px;
         border: solid 2px black;
         border-radius: 10px;      
         display: flex; /* herede a sus hijos */
         flex-direction: column; 
         justify-content: center;
         align-items: center;
      }

      /*Layout/diseños */
      /*Uso de flex box contened flexible (control espacio -> todo inline en vez de blq) -> layouts , siempre se deben de usar en el padre no hereda a los hijos / solo en contenedores*/

   .ContenedorPadre{
      /* background-color: lightskyblue;
      color : black;  */
      border: 4px solid rgb(10, 6, 233);   
      padding: 10px ; 
      width: 100%; 
      
      display:flex; 
      flex-direction: row; /*Como va a orden : fila defec ,columna o fila reverse*/

      justify-content: space-evenly; /*Distr elm eje x: start inicio,end final ,center centro, around extrem iguales y medio dif ,betwen extr al final de eje medio iguales, evely: espacio igual todos*/

      align-items:flex-start; /*Distr elm eje y*: start arriba, end abajo, center centro, stretch estira todo el alto del contenedor*/  
   }


   .ContenedorPadre2{
      width: 100%; 
      border: 4px solid rgb(54, 59, 49);   
      padding: 10px ; 
      display: flex; 
      justify-content: space-evenly;
      align-items: center;
   }



   .ContenedorGaleria{
      width: 100%; 
      
   }

   .elementoHijo{
      flex-grow: 1 ; /* ocupa todo el espacio disponible */
      flex-shrink: 0 ; /* se reduce al 50% del espacio disponible raro de usar*/
      flex-basis: 100px ; /* tamano inicial del elemento */
      flex: 1 0 100px; /* shorthand de las 3 propiedades anteriores */
      flex-flow: column wrap; /* direccion y ajuste de los elementos hijos */
   }

   .SectionSubtitulos{
      /* text-align: center; */
      /* margin-bottom: 10px;  */
      display: flex; 
      align-items: center;
      justify-self: center;
   }
   
   

   .hero{   
      border: 51px maroon solid; 
      justify-content: center;
      align-items: center;

    }

    .button{
      border-radius: 2px;
      border:3px rgb(255, 255, 255) solid;
      background-color: black;
      color: rgb(222, 185, 17);
      margin: 5px;
      padding: 2px 5px;
      text-decoration: dashed rgb(255, 255, 255) 2px;
      font-size: 16px;
      transition: all 0.5s ease-in-out; /*transicion suave*/

    }

    .button:hover{
      background-color:  rgb(222, 185, 17);
      color: black;
    }
    
   
    .about{
      border:4px maroon solid;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .logrosTitulos{
      border:4px maroon solid;
    }

    .contact{
      border:4px maroon solid;
    }

    .actualizar{
      border:4px maroon solid;
    }

    .enlaces{
      border:4px maroon solid;
    }

   .canvas{
      border:4px maroon solid;
    }

   .skills{
      border:4px maroon solid;
    }

    .video{
      border:4px maroon solid;
    }

    .images{
     width: 50%;/*porcentaje del ancho de su contenedor*/
     margin:0 0 10px 0; /*espacio alrededor de la imagen*/
    }



    .fontImageStyle{
      font-size: 20px; 
      color: black;
   
    }


    

   .HeroText {
      color:rgb(33, 32, 30);
      font-size: 20px;
      font-family: 'Times New Roman', Times, serif; 
      letter-spacing: 2px;
      text-align: center;
      margin-top: 20px; /*espacio arriba*/
      margin-bottom: 20px; /*espacio abajo*/
      }


   .subtitulos {
      color:white; 
      text-shadow: 2px 2px  red;
   }

   .subtitulos2 {
      color:yellow; 
      text-shadow: 2px 2px black;
   }

   .centradoTxt {
      text-align: center;
   }
   
   .Titulo{
      color:rgb(53, 52, 45);
      font-size: 20px;
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
      letter-spacing: 2px;
      text-align: justify;
      margin-top: 20px;
      margin-bottom: 20px; 
   }

  .sangria{
      text-indent: 30px; /*sangria*/
   }

/*Tipos de colores : nombre,rgb,rgba,hsl,exadecimal,selecc*/
   p {
      color:goldenrod; 
      font: size 16px;/* tamano de letra*/
      font-family: Arial, Helvetica, serif; /*tipo de letra*/
      letter-spacing: 2px; /*espacio entre letras*/
      text-align:justify; /*justificado*/
   }


  .border{
      border: 2px solid goldenrod; /*borde: tamano, tipo, color*/
      border-radius: 10px; /*bordes redondeados*/
      padding: 2px; /*espacio entre borde y contenido,tp: all ,2 , 4 horario*/
      margin: 50px; /*espacio entre borde y otros elementos*/
   }

  .border2{
   border-width: 10px 5px 7px 8px; /*tamano de borde*/
   border-style: solid; /*tipo de borde*/
   border-color: blue red greenyellow violet; /*color:horario*/ 
   border-radius: 35px 2px; /*bordes redondeados; tp: L opuestos horario*/
   padding-top: 20px; 
   padding-right: 30px;
   padding-bottom: 32px;
   padding-left: 40px; 
   margin: 20px; 
   }



   .background1{
      background-color: black; /*color de fondo*/
      width: 800px; /*ancho*/
      height: auto; /*alto*/
      margin: 10px; 
      padding: 10px;
   }

   
 


 #NameLionel {
    color:gold;
    font-size: 30px;
    font-style: italic; 
    letter-spacing: 2px;
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px; 
 }

 /* Estilos para pantallas pequeñas */
 /* nav de header cambia a una lista vertical */

  .listaHeader{
   
   color:rgb(174, 98, 161);
   display: none; /*oculta la lista (icono)  del header en pantallas grandes*/

}

 


